@inject WMS.Core.ApplicationDbContext db;
@model IEnumerable<WMS.Core.Product>
@{
    ViewData["Title"] = "All Product in the system";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<a href="/Product/CreateProduct" class="btn btn-primary">Create new Product</a>

<form id="searchForm" action="/Product/SearchProduct" class="d-flex my-4">
    <input class="form-control me-3" name="query" placeholder="Search Product .." />
    <button class="btn btn-primary">Search</button>
</form>

<div id="searchResults">

</div>

<table id="baseContent" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>SKU</th>
            <th>Category</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var product in Model)
            {
                <tr>
                    <td>@product.ProductID</td>
                    <td>
                        <img src="/ProductsImages/@product.Image" width="50" />
                    </td>
                    <td>@product.Name</td>
                    <td>$@product.Price</td>
                    <td>@product.SKU</td>
                    <td>@product.CategoryID</td>
                    <td>
                        <a href="/product/delete/@product.ProductID" class="btn btn-danger" title="Delete Product"><i class="fa-solid fa-trash"></i></a>
                        <a href="/product/edit/@product.ProductID" class="btn btn-dark" title="Edit Product"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="/product/details/@product.ProductID" class="btn btn-secondary" title="Product Details"><i class="fa-solid fa-circle-info"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (result) {
                    $('#baseContent').hide();
                    $('#searchResults').html(result);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>