@model IEnumerable<WMS.Core.Inventory>
@{
    ViewData["Title"] = "All Inventories in the system";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<a href="/Inventory/CreateInventory" class="btn btn-primary">Create new Inventory</a>

<form id="searchForm" action="/Inventory/SearchInventory" class="d-flex my-4">
    <input class="form-control me-3" name="query" placeholder="Search Inventory .." />
    <button class="btn btn-primary">Search</button>
</form>

<div id="searchResults">
</div>

<table id="baseContent" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Quantity</th>
            <th>ProductId</th>
            <th>WarehouseId</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var inventory in Model)
            {
                <tr>
                    <td>@inventory.ID</td>
                    <td>@inventory.Quantity</td>
                    <td>@inventory.ProductId</td>
                    <td>@inventory.WarehouseID</td>
                    <td>
                        <a href="/inventory/delete/@inventory.ID" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        <a href="/inventory/edit/@inventory.ID" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (result) {
                    $('#baseContent').hide();
                    $('#searchResults').html(result);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>