@model IEnumerable<WMS.Core.Shipment>
@{
    ViewData["Title"] = "All Shipments in the system";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<a href="/Shipment/CreateShipment" class="btn btn-primary">Create new Shipment</a>

<form id="searchForm" action="/Shipment/SearchShipment" class="d-flex my-4">
    <input class="form-control me-3" name="query" placeholder="Search Shipment .." />
    <button class="btn btn-primary">Search</button>
</form>

<div id="searchResults">

</div>

<table id="baseContent" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Start Point</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var shipment in Model)
            {
                <tr>
                    <td>@shipment.ID</td>
                    <td>@shipment.Date</td>
                    <td>@shipment.StartPoint</td>
                    <td>@shipment.Status</td>
                    <td>
                        <a href="/shipment/delete/@shipment.ID" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        <a href="/shipment/edit/@shipment.ID" class="btn btn-dark"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a href="/shipment/details/@shipment.ID" class="btn btn-secondary" title="Shipment Details"><i class="fa-solid fa-circle-info"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (result) {
                    $('#baseContent').hide();
                    $('#searchResults').html(result);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>