@model IEnumerable<WMS.Core.Address>
@{
    ViewData["Title"] = "All addresses in the system";
    Layout = "/Views/Shared/_AdminLayout.cshtml";
}

<h1>@ViewData["Title"]</h1>

<form id="searchForm" action="/Address/SearchAddress" class="d-flex my-4">
    <input class="form-control me-3" name="query" placeholder="Search Address .."/>
    <button class="btn btn-primary">Search</button>
</form>

<div id="searchResults">

</div>

<table id="baseContent" class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Country</th>
            <th>State</th>
            <th>City</th>
            <th>Street</th>
            <th>Postal Code</th>
            <th>Info</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var address in Model)
            {
                <tr>
                    <td>@address.ID</td>
                    <td>@address.Country</td>
                    <td>@address.State</td>
                    <td>@address.City</td>
                    <td>@address.Street</td>
                    <td>@address.PostalCode</td>
                    <td>@address.Info</td>
                    <td>
                        <a href="/address/delete/@address.ID" class="btn btn-danger"><i class="fa-solid fa-trash"></i></a>
                        <a href="/address/edit/@address.ID" class="btn btn-warning"><i class="fa-solid fa-pen-to-square"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        $('#searchForm').submit(function (event) {
            event.preventDefault();

            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function (result) {
                    $('#baseContent').hide();
                    $('#searchResults').html(result);
                },
                error: function (error) {
                    console.log('Error:', error);
                }
            });
        });
    });
</script>